<section class="container-fluid">
    <div class="row bg-dark prod-header">
        <div class="col-9">
            <h4 class="text-secondary ">User Information Details</h4>
        </div>
        <div class="col-3 text-right">
            <p class="text-white"><span class="hover-pointer" [routerLink]="['/products']"><i class="fa fa-angle-left mr-2"></i>Back</span></p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3 class="text-center light-blue">{{details.name}}</h3>
            <p class="mt-3">{{details.company.name}} - {{details.company.catchPhrase}}</p>
        </div>
    </div>
    <div class="row mt-3 user-details">
        <div class="col-6">
            <h5 class="text-center light-blue">User Details</h5>
            <p class="mt-2 font-weight-bold">Username:</p>
            <p class="lead">{{details.username}}</p>
            <p class=" font-weight-bold">Email:</p>
            <p class="lead">{{details.email}}</p>
            <p class=" font-weight-bold">Phone:</p>
            <p class="lead">{{details.phone}}</p>
            <p class=" font-weight-bold">Website:</p>
            <p class="lead">{{details.website}}</p>
            <p class=" font-weight-bold">City:</p>
            <p class="lead">{{details.address.city}}</p>
        </div>
        <div class="col-6">
            <h5 class="text-center light-blue">User Location</h5>
            <div class="row left-line">
                <div class="my-2 col-12">
                    <p class=" font-weight-bold">Latitude:</p>
                    <p class="lead">{{details.address.geo.lat}}</p>
                    <ng-container *ngFor="let rating of starrating; let i = index">
                        <i class="star-rating mr-1 fa" [ngClass]="{'fa-star': prodRating1 > i, 'fa-star-o': prodRating1 <= i}"></i>
                    </ng-container>
                </div>
            </div>
            <div class="row left-line mt-3">
                <div class="col-12 my-2">
                    <p class=" font-weight-bold">Longitude:</p>
                    <p class="lead">{{details.address.geo.lng}}</p> 
                    <ng-container *ngFor="let rating of starrating; let i = index">
                        <i class="star-rating mr-1 fa" [ngClass]="{'fa-star': prodRating2 > i, 'fa-star-o': prodRating2 <= i}"></i>
                    </ng-container>                   
                </div>
            </div>
        </div>
    </div>
</section>
